*{
	margin:  0px;
	padding:  0px;
	box-sizing:  border-box;
	border:  0px;
}

/*CONTAINER*/
.container{
	background-color:  #eee;
	margin:  5px auto;
	width:  800px;

}
/*HEADER*/
.header{
	background-color:  yellow;
	line-height:  80px;
	text-align:  center;
}
/*NAVBAR*/
.navbar{
	display:  flex;
	background-color:  black;
	color:  white;
	line-height:  30px;
}
.mnuHome{
	position:  relative;
}
.mnuHome:hover .itemHome{
	display: block;
	background-color:  black;
	color:  white;
	top: 25px;
	left:  10px;
}
.navbar div{
	flex: 1;
	text-align: center;
}
.navbar div:hover{
	background-color:  red;
}
/*ITEM*/
.itemHome{
	display:  none;
	width:  100%;
	position:  absolute;
	z-index: 1;
}
/*CONTEUDO*/
.conteudo{
	display:  flex;
	flex-wrap:  wrap;
	justify-content:  center;
	width:  90%;
	margin: 0px auto;
}
.itemConteudo{
	width:  200px;
	background-color:  #ddd;
	padding:  10px;
	margin-top:  10px;
	margin-right: 10px;
	border: 0.1px solid #ddd;
	border-radius: 5px;
}
/*FOOTER*/
.footer{
	display: flex;
	margin-top: 10px;
	justify-content:  space-between;
	background-color: #a1c0ae;
	line-height:  30px;
	padding:  5px 20px;
	font-weight: bold;
}

@media (max-width: 800px){
	.container{
		width: 80%;
	}
	.navbar{
		display: block;
		flex-direction: column;
		width: 100%;
	}
	.navbar div{
		flex: 50%;
	}
	.mnuHome:hover .itemHome{
		display: none;
	}
	.header{
		width: 100%;
		font-size: 12px;
		
	}

}

@media(max-width: 720px){
	.itemConteudo{
		width: 50%;
		min-height: 200px;
	}
	.footer{
		display: block;
		text-align: center;
	}
}
@media(max-width: 600px){

	.conteudo, .itemConteudo{
		width: 100%;
	}
}